
#quickHeading{
     font-size:40px;
     color:black;
     display:block;
     font-weight:bold;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     margin-left: 3%;
}

#quickSubHeading{
    font-size:20px;
    color:gray;
    display:block;
    line-height: 3;
    margin-left: 3%;
}
