#header-list-2 {
  width: 100%;
}
#header-list-2 a {
  color: white;
}
.navbar-mine-2 {
  display: flex;
  padding: 5vw;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.left-list-nav-2 {
  display: flex;
  width: 50%;
  justify-content: left;
  align-items: center;
}
.right-list-nav-2 {
  display: flex;
  width: 50%;
  justify-content: right;
}

.right-list-nav-2 p {
  margin-left: 2vw;
}
.left-list-nav-2 h1 {
  margin-right: 2vw;
}

.font-mid-2 {
  font-size: 20px;
}
#header-list-2 a {
  color: white;
}

#header-list-2 a:hover {
  color: rgb(174, 158, 158);
}
.zomato-title {
  font-size: calc(50px + 1vw);
  font-style: italic;
  animation: fadeInAnimationHead ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimationHead {
  0% {
    filter: blur(14px);
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
    filter: blur(0px);
  }
}
