#header-list-2 {
  width: 100%;
}
#header-list-2 a {
  color: white;
}
.navbar-mine-2 {
  display: flex;
  padding: 40px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.left-list-nav-2 {
  display: flex;
  width: 50%;
  justify-content: left;
  align-items: center;
}
.right-list-nav-2 {
  display: flex;
  width: 50%;
  justify-content: right;
}

.right-list-nav-2 p {
  margin-left: 2vw;
}
.left-list-nav-2 h1 {
  margin-right: 2vw;
}

.font-mid-2 {
  font-size: 20px;
}
#header-list-2 a {
  color: white;
}

#header-list-2 a:hover {
  color: rgb(174, 158, 158);
}
