.App {
  text-align: center;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.imgCard {
  height: 300px;
  min-width: 200px;
  display: inline-block;
  margin: 10px;
  box-shadow: 5px 5px 10px grey;
  border-radius: 10px;
}
.imgCard:hover{
  transform: scale(1.1);
  transition: transform 0.7s;
}

.colorGold {
  color: gold;
}

.itemLoader {
  width: 100%;
}

.imgInCard {
  margin-top: 10px;
  height: 170px;
  width: 100%;
  object-fit: contain;
}

.price {
  width: 100%;
  height: 20px;
  padding-left: 5px;
}

.rating {
  width: 100%;
  height: 20px;
  padding-left: 5px;
}

.dis {
  height: 60px;
  width: 100%;
  padding: 5px;
  overflow: hidden;
}

@media screen and (min-width: 0px) {
  .imgCard {
      width: 100%;
  }
}

@media screen and (min-width: 500px) {
  .imgCard {
      width: 46%;
  }
}

@media screen and (min-width: 768px) {
  .imgCard {
      width: 30%;
  }
}

@media screen and (min-width: 1000px) {
  .imgCard {
      width: 23%;
  }
}

@media screen and (min-width: 1444px) {
  .imgCard {
      width: 18%;
  }
}